body {
}
.menu {
  padding: 10px;
}

.button {
  padding: 11px;
  border-right: 1px solid rgb(200,200,200);
}

.axiom {
  border: 1px solid black;
  font-weight: bold;
  min-height: 50px;
  padding: 10px;
}

.concept {
  max-width: 300px;
  border: 1px solid grey;
  color: darkblue;
  padding: 10px;
}

.relation {
  max-width: 300px;
  border: 1px solid grey;
  color: green;
  padding: 10px;
}

input {
}

textarea {
  height: 100%;
}
